In [1]:
# Import necessary libraries

# For data handling
import pandas as pd
import re
import numpy as np
from functools import reduce
from sklearn.impute import SimpleImputer

# For data visualization
import matplotlib.pyplot as plt
# import matplotlib as plt
import seaborn as sns

#
from sklearn.preprocessing import LabelEncoder, StandardScaler

#
from sklearn.model_selection import train_test_split

### Load datasets

In [2]:
# 
first_df = pd.read_csv(r"C:\Users\USER\Desktop\Telco-Churn\telco_churn_1st_3000.csv")
second_df = pd.read_csv(r"C:\Users\USER\Desktop\Telco-Churn\LP2_Telco-churn-second-2000.csv")

In [3]:
# importing the .xlsx file
test_df = pd.read_excel(r"C:\Users\USER\Desktop\Telco-Churn\Telco-churn-last-2000.xlsx")

In [4]:
#
first_df.head(), second_df.head(), test_df.head()

(   customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
 0  7590-VHVEG  Female          False     True       False       1
 1  5575-GNVDE    Male          False    False       False      34
 2  3668-QPYBK    Male          False    False       False       2
 3  7795-CFOCW    Male          False    False       False      45
 4  9237-HQITU  Female          False    False       False       2

    PhoneService MultipleLines InternetService OnlineSecurity  ...  \
 0         False           NaN             DSL          False  ...
 1          True         False             DSL           True  ...
 2          True         False             DSL           True  ...
 3         False           NaN             DSL           True  ...
 4          True         False     Fiber optic          False  ...

   DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
 0            False       False       False           False  Month-to-month
 1             True       False       False           False        One year
 2            False       False       False           False  Month-to-month
 3             True        True       False           False        One year
 4            False       False       False           False  Month-to-month

   PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
 0             True           Electronic check      29.850000     29.850000
 1            False               Mailed check      56.950001   1889.500000
 2             True               Mailed check      53.849998    108.150002
 3            False  Bank transfer (automatic)      42.299999   1840.750000
 4             True           Electronic check      70.699997    151.649994

    Churn
 0  False
 1  False
 2   True
 3  False
 4   True

 [5 rows x 21 columns],
    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
 0  5600-PDUJF    Male              0      No         No       6          Yes
 1  8292-TYSPY    Male              0      No         No      19          Yes
 2  0567-XRHCU  Female              0     Yes        Yes      69           No
 3  1867-BDVFH    Male              0     Yes        Yes      11          Yes
 4  2067-QYTCF  Female              0     Yes         No      64          Yes

       MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
 0                No             DSL             No  ...               No
 1                No             DSL             No  ...              Yes
 2  No phone service             DSL            Yes  ...              Yes
 3               Yes     Fiber optic             No  ...               No
 4               Yes     Fiber optic             No  ...              Yes

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
 0         Yes          No              No  Month-to-month              Yes
 1         Yes          No              No  Month-to-month              Yes
 2          No          No             Yes        Two year              Yes
 3          No          No              No  Month-to-month              Yes
 4         Yes         Yes             Yes  Month-to-month              Yes

              PaymentMethod MonthlyCharges  TotalCharges Churn
 0  Credit card (automatic)          49.50         312.7    No
 1  Credit card (automatic)          55.00        1046.5   Yes
 2  Credit card (automatic)          43.95        2960.1    No
 3         Electronic check          74.35         834.2   Yes
 4         Electronic check         111.15        6953.4    No

 [5 rows x 21 columns],
    customerID gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
 0  7613-LLQFO   Male              0      No         No      12          Yes
 1  4568-TTZRT   Male              0      No         No       9          Yes
 2  9513-DXHDA   Male              0      No         No      27          Yes
 3  2640-PMGFL   Male              0      No        Yes      27          Yes
 4  3801-HMYNL   Male              0     Yes        Yes       1          Yes

   MultipleLines InternetService       OnlineSecurity         OnlineBackup  \
 0           Yes     Fiber optic                   No                   No
 1            No              No  No internet service  No internet service
 2            No             DSL                  Yes                   No
 3           Yes     Fiber optic                   No                   No
 4            No     Fiber optic                   No                   No

       DeviceProtection          TechSupport          StreamingTV  \
 0                   No                   No                  Yes
 1  No internet service  No internet service  No internet service
 2                  Yes                  Yes                  Yes
 3                   No                  Yes                   No
 4                   No                   No                  Yes

        StreamingMovies        Contract PaperlessBilling     PaymentMethod  \
 0                   No  Month-to-month              Yes  Electronic check
 1  No internet service  Month-to-month               No      Mailed check
 2                  Yes        One year               No  Electronic check
 3                   No  Month-to-month              Yes  Electronic check
 4                  Yes  Month-to-month               No      Mailed check

    MonthlyCharges TotalCharges
 0           84.45      1059.55
 1           20.40        181.8
 2           81.70      2212.55
 3           79.50      2180.55
 4           89.15        89.15  )

In [5]:
# 
first_df.info(), second_df.info(), test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

(None, None, None)

In [6]:
# Align datatypes

first_df['SeniorCitizen'] = first_df['SeniorCitizen'].astype('int64')
first_df['Partner'] = first_df['Partner'].astype('object')
first_df['Dependents'] = first_df['Dependents'].astype('object')
first_df['PhoneService'] = first_df['PhoneService'].astype('object')
first_df['PaperlessBilling'] = first_df['PaperlessBilling'].astype('object')
first_df['TotalCharges'] = first_df['TotalCharges'].astype('object')

In [7]:
#confirm
first_df.info(), second_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   int64
 3   Partner           3000 non-null   object
 4   Dependents        3000 non-null   object
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   object
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   object
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   object
 20  Churn             2999 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 492.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

(None, None)

In [8]:
# Handling missing
first_df.isna().sum()
# second_df.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [9]:
#
# Fill missing values in categorical columns with 'No'
categorical_columns = ['MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
first_df[categorical_columns] = first_df[categorical_columns].fillna('No')

# Fill missing values in TotalCharges with 0
first_df['TotalCharges'] = first_df['TotalCharges'].fillna('0')

# Fill missing value in Churn with the most frequent value
first_df['Churn'] = first_df['Churn'].fillna(first_df['Churn'].mode()[0])

In [10]:
# Display the info of the updated first_df
print(first_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   int64
 3   Partner           3000 non-null   object
 4   Dependents        3000 non-null   object
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   object
 7   MultipleLines     3000 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    3000 non-null   object
 10  OnlineBackup      3000 non-null   object
 11  DeviceProtection  3000 non-null   object
 12  TechSupport       3000 non-null   object
 13  StreamingTV       3000 non-null   object
 14  StreamingMovies   3000 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   object
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      3000 non-null   object
 20  Churn             3000 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(17)
memory usage: 471.8+ KB
None

In [11]:
#
first_df.describe(), second_df.describe(), test_df.describe()

(       SeniorCitizen       tenure  MonthlyCharges
 count    3000.000000  3000.000000     3000.000000
 mean        0.158333    32.527333       65.347400
 std         0.365114    24.637768       30.137053
 min         0.000000     0.000000       18.400000
 25%         0.000000     9.000000       35.787499
 50%         0.000000    29.000000       70.900002
 75%         0.000000    56.000000       90.262501
 max         1.000000    72.000000      118.650002,
        SeniorCitizen       tenure  MonthlyCharges
 count    2043.000000  2043.000000     2043.000000
 mean        0.168380    32.649046       64.712555
 std         0.374295    24.376248       29.970010
 min         0.000000     0.000000       18.550000
 25%         0.000000     9.000000       35.825000
 50%         0.000000    30.000000       70.250000
 75%         0.000000    55.000000       89.625000
 max         1.000000    72.000000      118.350000,
        SeniorCitizen       tenure  MonthlyCharges
 count    2000.000000  2000.000000     2000.000000
 mean        0.161500    31.853000       63.933325
 std         0.368084    24.632677       30.136858
 min         0.000000     0.000000       18.250000
 25%         0.000000     8.000000       34.250000
 50%         0.000000    27.000000       69.800000
 75%         0.000000    55.000000       89.275000
 max         1.000000    72.000000      118.750000)

In [12]:
# merge datasets first_df and second_df
df = pd.concat([first_df, second_df])
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,True,False,1,False,No,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,0,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,0,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,0,False,False,45,False,No,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,0,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.5,No

In [13]:
# Check for duplicates in the 'customerID' column
duplicates = df[df['customerID'].duplicated(keep=False)]

# Display the duplicated rows
print(f"Number of duplicate customerID entries: {duplicates.shape[0]}")
print(duplicates)

Number of duplicate customerID entries: 0
Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [14]:
# 
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [15]:
#

df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    5043.000000  5043.000000     5043.000000
mean        0.162403    32.576641       65.090214
std         0.368857    24.529807       30.068133
min         0.000000     0.000000       18.400000
25%         0.000000     9.000000       35.775000
50%         0.000000    29.000000       70.550003
75%         0.000000    56.000000       90.050003
max         1.000000    72.000000      118.650002

In [16]:
#
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     5043 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    5043 non-null   object
 10  OnlineBackup      5043 non-null   object
 11  DeviceProtection  5043 non-null   object
 12  TechSupport       5043 non-null   object
 13  StreamingTV       5043 non-null   object
 14  StreamingMovies   5043 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5043 non-null   object
 20  Churn             5043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 866.8+ KB

### Data Visulization

### Feature Pre-processing and Engineering

##### Handling Missing Values

In [17]:
# missing values with;
# mode = categorical columns
# median = numerical columns
for column in df.columns:
    if df[column].dtype == 'object':
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].median(), inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_8768\2056660679.py:6: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  df[column].fillna(df[column].mode()[0], inplace=True)

In [18]:
test_df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

#### Encoding Categorical Variables

##### Train set

In [18]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [19]:
# Label Encoding for binary categorical columns 
# Convert binary columns to string type to handle mixed types
binary_columns = ['gender', 'Partner', 'Dependents',
       'PhoneService', 'PaperlessBilling', 'Churn']

for column in binary_columns:
    df[column] = df[column].astype(str)

In [20]:

# binary_columns = ['gender', 'Partner', 'Dependents',
#        'PhoneService', 'PaperlessBilling''Churn']

for column in binary_columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])

In [21]:
# One-Hot Encoding for multi-class categorical columns
multi_class_columns = ['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod',
                       ]

df = pd.get_dummies(df, columns=multi_class_columns)

In [22]:
# Feature Scaling

# Fix non-numeric 'TotalCharges' values
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'].str.strip(), errors='coerce')

# Fill missing values created by coercing errors to NaN
df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

In [23]:
# Feature Scaling
scaler = StandardScaler()
numerical_columns = ['tenure', 'MonthlyCharges', 'TotalCharges']

df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [24]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'MultipleLines_False', 'MultipleLines_True',
       'MultipleLines_No', 'MultipleLines_No phone service',
       'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_False', 'OnlineSecurity_True', 'OnlineSecurity_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_False', 'OnlineBackup_True', 'OnlineBackup_No',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_False', 'DeviceProtection_True',
       'DeviceProtection_No', 'DeviceProtection_No internet service',
       'DeviceProtection_Yes', 'TechSupport_False', 'TechSupport_True',
       'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_False', 'StreamingTV_True', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_False', 'StreamingMovies_True', 'StreamingMovies_No',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [25]:



# Creating New Features
# Example: Total Services Subscribed
service_columns = ['PhoneService', 'MultipleLines_No', 'MultipleLines_Yes', 'InternetService_No', 'OnlineSecurity_No', 'OnlineSecurity_Yes',
                         'OnlineBackup_No', 'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_Yes', 'TechSupport_No', 'TechSupport_Yes',
                         'StreamingTV_No', 'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_Yes']

# service_columns_second = ['PhoneService_second', 'MultipleLines_second_No', 'MultipleLines_second_Yes', 'InternetService_second', 'OnlineSecurity_second_No', 'OnlineSecurity_second_Yes',
#                           'OnlineBackup_second_No', 'OnlineBackup_second_Yes', 'DeviceProtection_second_No', 'DeviceProtection_second_Yes', 'TechSupport_second_No', 'TechSupport_second_Yes',
#                           'StreamingTV_second_No', 'StreamingTV_second_Yes', 'StreamingMovies_second_No', 'StreamingMovies_second_Yes']

df['TotalServices '] = df[service_columns].sum(axis=1)
# df['TotalServices_second'] = df[service_columns_second].sum(axis=1)

# Display the processed DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5043 entries, 0 to 2042
Data columns (total 57 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               5043 non-null   object
 1   gender                                   5043 non-null   int32
 2   SeniorCitizen                            5043 non-null   int64
 3   Partner                                  5043 non-null   int32
 4   Dependents                               5043 non-null   int32
 5   tenure                                   5043 non-null   float64
 6   PhoneService                             5043 non-null   int32
 7   PaperlessBilling                         5043 non-null   int32
 8   MonthlyCharges                           5043 non-null   float64
 9   TotalCharges                             5043 non-null   float64
 10  Churn                                    5043 non-null   int32
 11  MultipleLines_False                      5043 non-null   uint8
 12  MultipleLines_True                       5043 non-null   uint8
 13  MultipleLines_No                         5043 non-null   uint8
 14  MultipleLines_No phone service           5043 non-null   uint8
 15  MultipleLines_Yes                        5043 non-null   uint8
 16  InternetService_DSL                      5043 non-null   uint8
 17  InternetService_Fiber optic              5043 non-null   uint8
 18  InternetService_No                       5043 non-null   uint8
 19  OnlineSecurity_False                     5043 non-null   uint8
 20  OnlineSecurity_True                      5043 non-null   uint8
 21  OnlineSecurity_No                        5043 non-null   uint8
 22  OnlineSecurity_No internet service       5043 non-null   uint8
 23  OnlineSecurity_Yes                       5043 non-null   uint8
 24  OnlineBackup_False                       5043 non-null   uint8
 25  OnlineBackup_True                        5043 non-null   uint8
 26  OnlineBackup_No                          5043 non-null   uint8
 27  OnlineBackup_No internet service         5043 non-null   uint8
 28  OnlineBackup_Yes                         5043 non-null   uint8
 29  DeviceProtection_False                   5043 non-null   uint8
 30  DeviceProtection_True                    5043 non-null   uint8
 31  DeviceProtection_No                      5043 non-null   uint8
 32  DeviceProtection_No internet service     5043 non-null   uint8
 33  DeviceProtection_Yes                     5043 non-null   uint8
 34  TechSupport_False                        5043 non-null   uint8
 35  TechSupport_True                         5043 non-null   uint8
 36  TechSupport_No                           5043 non-null   uint8
 37  TechSupport_No internet service          5043 non-null   uint8
 38  TechSupport_Yes                          5043 non-null   uint8
 39  StreamingTV_False                        5043 non-null   uint8
 40  StreamingTV_True                         5043 non-null   uint8
 41  StreamingTV_No                           5043 non-null   uint8
 42  StreamingTV_No internet service          5043 non-null   uint8
 43  StreamingTV_Yes                          5043 non-null   uint8
 44  StreamingMovies_False                    5043 non-null   uint8
 45  StreamingMovies_True                     5043 non-null   uint8
 46  StreamingMovies_No                       5043 non-null   uint8
 47  StreamingMovies_No internet service      5043 non-null   uint8
 48  StreamingMovies_Yes                      5043 non-null   uint8
 49  Contract_Month-to-month                  5043 non-null   uint8
 50  Contract_One year                        5043 non-null   uint8
 51  Contract_Two year                        5043 non-null   uint8
 52  PaymentMethod_Bank transfer (automatic)  5043 non-null   uint8
 53  PaymentMethod_Credit card (automatic)    5043 non-null   uint8
 54  PaymentMethod_Electronic check           5043 non-null   uint8
 55  PaymentMethod_Mailed check               5043 non-null   uint8
 56  TotalServices                            5043 non-null   int64
dtypes: float64(3), int32(6), int64(2), object(1), uint8(45)
memory usage: 615.6+ KB
None

In [26]:
#
print(df.head())

   customerID  gender  SeniorCitizen  Partner  Dependents    tenure  \
0  7590-VHVEG       0              0        2           0 -1.287404
1  5575-GNVDE       1              0        0           0  0.058031
2  3668-QPYBK       1              0        0           0 -1.246633
3  7795-CFOCW       1              0        0           0  0.506510
4  9237-HQITU       0              0        0           0 -1.246633

   PhoneService  PaperlessBilling  MonthlyCharges  TotalCharges  ...  \
0             0                 2       -1.172128     -0.243589  ...
1             2                 0       -0.270752     -0.243589  ...
2             2                 2       -0.373862     -0.243589  ...
3             0                 0       -0.758028     -0.243589  ...
4             2                 2        0.186588     -0.243589  ...

   StreamingMovies_No internet service  StreamingMovies_Yes  \
0                                    0                    0
1                                    0                    0
2                                    0                    0
3                                    0                    0
4                                    0                    0

   Contract_Month-to-month  Contract_One year  Contract_Two year  \
0                        1                  0                  0
1                        0                  1                  0
2                        1                  0                  0
3                        0                  1                  0
4                        1                  0                  0

   PaymentMethod_Bank transfer (automatic)  \
0                                        0
1                                        0
2                                        0
3                                        1
4                                        0

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                      0                               1
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               1

   PaymentMethod_Mailed check  TotalServices
0                           0               1
1                           1               2
2                           1               2
3                           0               1
4                           0               2

[5 rows x 57 columns]

##### Test set

In [27]:
test_df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [28]:
#
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [29]:
# Label Encoding for binary categorical columns 
# Convert binary columns to string type to handle mixed types
binary_columns_test = ['gender', 'Partner', 'Dependents',
       'PhoneService', 'PaperlessBilling']

for column in binary_columns_test:
    test_df[column] = test_df[column].astype(str)

In [30]:

for column in binary_columns_test:
    le = LabelEncoder()
    test_df[column] = le.fit_transform(test_df[column])

In [31]:
# One-Hot Encoding for multi-class categorical columns
multi_class_columns_test = ['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod',
                       ]

test_df = pd.get_dummies(test_df, columns=multi_class_columns_test)

In [32]:
#
non_numeric_cols = df.select_dtypes(exclude=['number']).columns

In [33]:
#
print(non_numeric_cols)

Index(['customerID'], dtype='object')

In [50]:
# # Feature Scaling

# Fix non-numeric 'TotalCharges' values
test_df['TotalCharges'] = pd.to_numeric(test_df['TotalCharges'], errors='coerce')

In [51]:
test_df.isna().sum()

customerID                                 0
gender                                     0
SeniorCitizen                              0
Partner                                    0
Dependents                                 0
tenure                                     0
PhoneService                               0
PaperlessBilling                           0
MonthlyCharges                             0
TotalCharges                               3
MultipleLines_No                           0
MultipleLines_No phone service             0
MultipleLines_Yes                          0
InternetService_DSL                        0
InternetService_Fiber optic                0
InternetService_No                         0
OnlineSecurity_No                          0
OnlineSecurity_No internet service         0
OnlineSecurity_Yes                         0
OnlineBackup_No                            0
OnlineBackup_No internet service           0
OnlineBackup_Yes                           0
DeviceProtection_No                        0
DeviceProtection_No internet service       0
DeviceProtection_Yes                       0
TechSupport_No                             0
TechSupport_No internet service            0
TechSupport_Yes                            0
StreamingTV_No                             0
StreamingTV_No internet service            0
StreamingTV_Yes                            0
StreamingMovies_No                         0
StreamingMovies_No internet service        0
StreamingMovies_Yes                        0
Contract_Month-to-month                    0
Contract_One year                          0
Contract_Two year                          0
PaymentMethod_Bank transfer (automatic)    0
PaymentMethod_Credit card (automatic)      0
PaymentMethod_Electronic check             0
PaymentMethod_Mailed check                 0
dtype: int64

In [52]:
numerical_columns = ['tenure','MonthlyCharges','TotalCharges']

In [53]:
 # Fill missing values created by coercing errors to NaN
test_df[numerical_columns].fillna(test_df[numerical_columns].median())

      tenure  MonthlyCharges  TotalCharges
0         12              84       1059.55
1          9              20        181.80
2         27              81       2212.55
3         27              79       2180.55
4          1              89         89.15
...      ...             ...           ...
1995       7              75        552.95
1996      47              74       3496.30
1997       2              44         93.70
1998      62             110       7053.35
1999      16              19        301.55

[2000 rows x 3 columns]

In [54]:
test_df['TotalCharges']

0       1059.55
1        181.80
2       2212.55
3       2180.55
4         89.15
         ...
1995     552.95
1996    3496.30
1997      93.70
1998    7053.35
1999     301.55
Name: TotalCharges, Length: 2000, dtype: float64

In [55]:
#
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               2000 non-null   object
 1   gender                                   2000 non-null   int32
 2   SeniorCitizen                            2000 non-null   int64
 3   Partner                                  2000 non-null   int32
 4   Dependents                               2000 non-null   int32
 5   tenure                                   2000 non-null   int64
 6   PhoneService                             2000 non-null   int32
 7   PaperlessBilling                         2000 non-null   int32
 8   MonthlyCharges                           2000 non-null   int64
 9   TotalCharges                             1997 non-null   float64
 10  MultipleLines_No                         2000 non-null   uint8
 11  MultipleLines_No phone service           2000 non-null   uint8
 12  MultipleLines_Yes                        2000 non-null   uint8
 13  InternetService_DSL                      2000 non-null   uint8
 14  InternetService_Fiber optic              2000 non-null   uint8
 15  InternetService_No                       2000 non-null   uint8
 16  OnlineSecurity_No                        2000 non-null   uint8
 17  OnlineSecurity_No internet service       2000 non-null   uint8
 18  OnlineSecurity_Yes                       2000 non-null   uint8
 19  OnlineBackup_No                          2000 non-null   uint8
 20  OnlineBackup_No internet service         2000 non-null   uint8
 21  OnlineBackup_Yes                         2000 non-null   uint8
 22  DeviceProtection_No                      2000 non-null   uint8
 23  DeviceProtection_No internet service     2000 non-null   uint8
 24  DeviceProtection_Yes                     2000 non-null   uint8
 25  TechSupport_No                           2000 non-null   uint8
 26  TechSupport_No internet service          2000 non-null   uint8
 27  TechSupport_Yes                          2000 non-null   uint8
 28  StreamingTV_No                           2000 non-null   uint8
 29  StreamingTV_No internet service          2000 non-null   uint8
 30  StreamingTV_Yes                          2000 non-null   uint8
 31  StreamingMovies_No                       2000 non-null   uint8
 32  StreamingMovies_No internet service      2000 non-null   uint8
 33  StreamingMovies_Yes                      2000 non-null   uint8
 34  Contract_Month-to-month                  2000 non-null   uint8
 35  Contract_One year                        2000 non-null   uint8
 36  Contract_Two year                        2000 non-null   uint8
 37  PaymentMethod_Bank transfer (automatic)  2000 non-null   uint8
 38  PaymentMethod_Credit card (automatic)    2000 non-null   uint8
 39  PaymentMethod_Electronic check           2000 non-null   uint8
 40  PaymentMethod_Mailed check               2000 non-null   uint8
dtypes: float64(1), int32(5), int64(3), object(1), uint8(31)
memory usage: 177.9+ KB

In [45]:
# Converting the monthlycharges datattype to int64
test_df['MonthlyCharges'] = test_df['MonthlyCharges'].astype('int64')
# test_df['TotalCharges'] = test_df['TotalCharges'].astype('uint8')

In [ ]:
#

In [56]:
#
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               2000 non-null   object
 1   gender                                   2000 non-null   int32
 2   SeniorCitizen                            2000 non-null   int64
 3   Partner                                  2000 non-null   int32
 4   Dependents                               2000 non-null   int32
 5   tenure                                   2000 non-null   int64
 6   PhoneService                             2000 non-null   int32
 7   PaperlessBilling                         2000 non-null   int32
 8   MonthlyCharges                           2000 non-null   int64
 9   TotalCharges                             1997 non-null   float64
 10  MultipleLines_No                         2000 non-null   uint8
 11  MultipleLines_No phone service           2000 non-null   uint8
 12  MultipleLines_Yes                        2000 non-null   uint8
 13  InternetService_DSL                      2000 non-null   uint8
 14  InternetService_Fiber optic              2000 non-null   uint8
 15  InternetService_No                       2000 non-null   uint8
 16  OnlineSecurity_No                        2000 non-null   uint8
 17  OnlineSecurity_No internet service       2000 non-null   uint8
 18  OnlineSecurity_Yes                       2000 non-null   uint8
 19  OnlineBackup_No                          2000 non-null   uint8
 20  OnlineBackup_No internet service         2000 non-null   uint8
 21  OnlineBackup_Yes                         2000 non-null   uint8
 22  DeviceProtection_No                      2000 non-null   uint8
 23  DeviceProtection_No internet service     2000 non-null   uint8
 24  DeviceProtection_Yes                     2000 non-null   uint8
 25  TechSupport_No                           2000 non-null   uint8
 26  TechSupport_No internet service          2000 non-null   uint8
 27  TechSupport_Yes                          2000 non-null   uint8
 28  StreamingTV_No                           2000 non-null   uint8
 29  StreamingTV_No internet service          2000 non-null   uint8
 30  StreamingTV_Yes                          2000 non-null   uint8
 31  StreamingMovies_No                       2000 non-null   uint8
 32  StreamingMovies_No internet service      2000 non-null   uint8
 33  StreamingMovies_Yes                      2000 non-null   uint8
 34  Contract_Month-to-month                  2000 non-null   uint8
 35  Contract_One year                        2000 non-null   uint8
 36  Contract_Two year                        2000 non-null   uint8
 37  PaymentMethod_Bank transfer (automatic)  2000 non-null   uint8
 38  PaymentMethod_Credit card (automatic)    2000 non-null   uint8
 39  PaymentMethod_Electronic check           2000 non-null   uint8
 40  PaymentMethod_Mailed check               2000 non-null   uint8
dtypes: float64(1), int32(5), int64(3), object(1), uint8(31)
memory usage: 177.9+ KB

In [57]:
# Check if the column has any non-NaN values
if test_df['TotalCharges'].notna().sum() == 0:
    print("The column 'TotalCharges' has no non-NaN values.")
else:
    # Compute the mode and handle cases where mode might be empty
    mode_value = test_df['TotalCharges'].mode()
    
    if mode_value.empty:
        default_value = 0  # Or any other appropriate default value
    else:
        default_value = mode_value.iloc[0]
    
    # Fill NaNs with the mode value or default value
    test_df['TotalCharges'].fillna(default_value, inplace=True)

In [58]:
# Verify that there are no NaN values left in the column
print(test_df['TotalCharges'].isna().sum())

0

In [59]:
# Feature Scaling
scaler = StandardScaler()
# numerical_columns = ['tenure', 'MonthlyCharges', 'TotalCharges']

test_df[numerical_columns] = scaler.fit_transform(test_df[numerical_columns])

In [60]:



# Creating New Features
# Example: Total Services Subscribed
service_columns = ['PhoneService', 'MultipleLines_No', 'MultipleLines_Yes', 'InternetService_No', 'OnlineSecurity_No', 'OnlineSecurity_Yes',
                         'OnlineBackup_No', 'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_Yes', 'TechSupport_No', 'TechSupport_Yes',
                         'StreamingTV_No', 'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_Yes']

# service_columns_second = ['PhoneService_second', 'MultipleLines_second_No', 'MultipleLines_second_Yes', 'InternetService_second', 'OnlineSecurity_second_No', 'OnlineSecurity_second_Yes',
#                           'OnlineBackup_second_No', 'OnlineBackup_second_Yes', 'DeviceProtection_second_No', 'DeviceProtection_second_Yes', 'TechSupport_second_No', 'TechSupport_second_Yes',
#                           'StreamingTV_second_No', 'StreamingTV_second_Yes', 'StreamingMovies_second_No', 'StreamingMovies_second_Yes']

test_df['TotalServices '] = test_df[service_columns].sum(axis=1)
# df['TotalServices_second'] = df[service_columns_second].sum(axis=1)

# Display the processed DataFrame
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 42 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               2000 non-null   object
 1   gender                                   2000 non-null   int32
 2   SeniorCitizen                            2000 non-null   int64
 3   Partner                                  2000 non-null   int32
 4   Dependents                               2000 non-null   int32
 5   tenure                                   2000 non-null   float64
 6   PhoneService                             2000 non-null   int32
 7   PaperlessBilling                         2000 non-null   int32
 8   MonthlyCharges                           2000 non-null   float64
 9   TotalCharges                             2000 non-null   float64
 10  MultipleLines_No                         2000 non-null   uint8
 11  MultipleLines_No phone service           2000 non-null   uint8
 12  MultipleLines_Yes                        2000 non-null   uint8
 13  InternetService_DSL                      2000 non-null   uint8
 14  InternetService_Fiber optic              2000 non-null   uint8
 15  InternetService_No                       2000 non-null   uint8
 16  OnlineSecurity_No                        2000 non-null   uint8
 17  OnlineSecurity_No internet service       2000 non-null   uint8
 18  OnlineSecurity_Yes                       2000 non-null   uint8
 19  OnlineBackup_No                          2000 non-null   uint8
 20  OnlineBackup_No internet service         2000 non-null   uint8
 21  OnlineBackup_Yes                         2000 non-null   uint8
 22  DeviceProtection_No                      2000 non-null   uint8
 23  DeviceProtection_No internet service     2000 non-null   uint8
 24  DeviceProtection_Yes                     2000 non-null   uint8
 25  TechSupport_No                           2000 non-null   uint8
 26  TechSupport_No internet service          2000 non-null   uint8
 27  TechSupport_Yes                          2000 non-null   uint8
 28  StreamingTV_No                           2000 non-null   uint8
 29  StreamingTV_No internet service          2000 non-null   uint8
 30  StreamingTV_Yes                          2000 non-null   uint8
 31  StreamingMovies_No                       2000 non-null   uint8
 32  StreamingMovies_No internet service      2000 non-null   uint8
 33  StreamingMovies_Yes                      2000 non-null   uint8
 34  Contract_Month-to-month                  2000 non-null   uint8
 35  Contract_One year                        2000 non-null   uint8
 36  Contract_Two year                        2000 non-null   uint8
 37  PaymentMethod_Bank transfer (automatic)  2000 non-null   uint8
 38  PaymentMethod_Credit card (automatic)    2000 non-null   uint8
 39  PaymentMethod_Electronic check           2000 non-null   uint8
 40  PaymentMethod_Mailed check               2000 non-null   uint8
 41  TotalServices                            2000 non-null   int64
dtypes: float64(3), int32(5), int64(2), object(1), uint8(31)
memory usage: 193.5+ KB
None

In [61]:
print(test_df.head())

   customerID  gender  SeniorCitizen  Partner  Dependents    tenure  \
0  7613-LLQFO       1              0        0           0 -0.806164
1  4568-TTZRT       1              0        0           0 -0.927983
2  9513-DXHDA       1              0        0           0 -0.197064
3  2640-PMGFL       1              0        0           1 -0.197064
4  3801-HMYNL       1              0        1           1 -1.252836

   PhoneService  PaperlessBilling  MonthlyCharges  TotalCharges  ...  \
0             1                 1        0.681579     -0.519272  ...
1             1                 0       -1.443013     -0.907801  ...
2             1                 0        0.581989     -0.008906  ...
3             1                 1        0.515595     -0.023071  ...
4             1                 0        0.847563     -0.948812  ...

   StreamingMovies_No internet service  StreamingMovies_Yes  \
0                                    0                    0
1                                    1                    0
2                                    0                    1
3                                    0                    0
4                                    0                    1

   Contract_Month-to-month  Contract_One year  Contract_Two year  \
0                        1                  0                  0
1                        1                  0                  0
2                        0                  1                  0
3                        1                  0                  0
4                        1                  0                  0

   PaymentMethod_Bank transfer (automatic)  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                      0                               1
1                                      0                               0
2                                      0                               1
3                                      0                               1
4                                      0                               0

   PaymentMethod_Mailed check  TotalServices
0                           0               8
1                           1               3
2                           0               8
3                           0               8
4                           1               8

[5 rows x 42 columns]

In [62]:
test_df.isna().sum()

customerID                                 0
gender                                     0
SeniorCitizen                              0
Partner                                    0
Dependents                                 0
tenure                                     0
PhoneService                               0
PaperlessBilling                           0
MonthlyCharges                             0
TotalCharges                               0
MultipleLines_No                           0
MultipleLines_No phone service             0
MultipleLines_Yes                          0
InternetService_DSL                        0
InternetService_Fiber optic                0
InternetService_No                         0
OnlineSecurity_No                          0
OnlineSecurity_No internet service         0
OnlineSecurity_Yes                         0
OnlineBackup_No                            0
OnlineBackup_No internet service           0
OnlineBackup_Yes                           0
DeviceProtection_No                        0
DeviceProtection_No internet service       0
DeviceProtection_Yes                       0
TechSupport_No                             0
TechSupport_No internet service            0
TechSupport_Yes                            0
StreamingTV_No                             0
StreamingTV_No internet service            0
StreamingTV_Yes                            0
StreamingMovies_No                         0
StreamingMovies_No internet service        0
StreamingMovies_Yes                        0
Contract_Month-to-month                    0
Contract_One year                          0
Contract_Two year                          0
PaymentMethod_Bank transfer (automatic)    0
PaymentMethod_Credit card (automatic)      0
PaymentMethod_Electronic check             0
PaymentMethod_Mailed check                 0
TotalServices                              0
dtype: int64

For this project, the test set is provided so we don't have to train_test_split

##### Assign variables
y = target variable/ independent variale
x = dependent variable

#### Merge train and test sets

In [63]:
#
merged_df = pd.concat([df, test_df])

In [64]:
merged_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,...,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,TotalServices
0,7590-VHVEG,0,0,2,0,-1.287404,0,2,-1.172128,-0.243589,...,0,0,1,0,0,0,0,1,0,1
1,5575-GNVDE,1,0,0,0,0.058031,2,0,-0.270752,-0.243589,...,0,0,0,1,0,0,0,0,1,2
2,3668-QPYBK,1,0,0,0,-1.246633,2,2,-0.373862,-0.243589,...,0,0,1,0,0,0,0,0,1,2
3,7795-CFOCW,1,0,0,0,0.506510,0,0,-0.758028,-0.243589,...,0,0,0,1,0,1,0,0,0,1
4,9237-HQITU,0,0,0,0,-1.246633,2,2,0.186588,-0.243589,...,0,0,1,0,0,0,0,1,0,2

In [65]:
# Remove the customerID column
merged_df = merged_df.drop(columns=['customerID'])

In [66]:
merged_df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,TotalServices
0,0,0,2,0,-1.287404,0,2,-1.172128,-0.243589,0.0,...,0,0,1,0,0,0,0,1,0,1
1,1,0,0,0,0.058031,2,0,-0.270752,-0.243589,0.0,...,0,0,0,1,0,0,0,0,1,2
2,1,0,0,0,-1.246633,2,2,-0.373862,-0.243589,2.0,...,0,0,1,0,0,0,0,0,1,2
3,1,0,0,0,0.506510,0,0,-0.758028,-0.243589,0.0,...,0,0,0,1,0,1,0,0,0,1
4,0,0,0,0,-1.246633,2,2,0.186588,-0.243589,2.0,...,0,0,1,0,0,0,0,1,0,2

In [77]:
merged_df.isna().sum()

gender                                        0
SeniorCitizen                                 0
Partner                                       0
Dependents                                    0
tenure                                        0
PhoneService                                  0
PaperlessBilling                              0
MonthlyCharges                                0
TotalCharges                                  0
Churn                                      2000
MultipleLines_False                        2000
MultipleLines_True                         2000
MultipleLines_No                              0
MultipleLines_No phone service                0
MultipleLines_Yes                             0
InternetService_DSL                           0
InternetService_Fiber optic                   0
InternetService_No                            0
OnlineSecurity_False                       2000
OnlineSecurity_True                        2000
OnlineSecurity_No                             0
OnlineSecurity_No internet service            0
OnlineSecurity_Yes                            0
OnlineBackup_False                         2000
OnlineBackup_True                          2000
OnlineBackup_No                               0
OnlineBackup_No internet service              0
OnlineBackup_Yes                              0
DeviceProtection_False                     2000
DeviceProtection_True                      2000
DeviceProtection_No                           0
DeviceProtection_No internet service          0
DeviceProtection_Yes                          0
TechSupport_False                          2000
TechSupport_True                           2000
TechSupport_No                                0
TechSupport_No internet service               0
TechSupport_Yes                               0
StreamingTV_False                          2000
StreamingTV_True                           2000
StreamingTV_No                                0
StreamingTV_No internet service               0
StreamingTV_Yes                               0
StreamingMovies_False                      2000
StreamingMovies_True                       2000
StreamingMovies_No                            0
StreamingMovies_No internet service           0
StreamingMovies_Yes                           0
Contract_Month-to-month                       0
Contract_One year                             0
Contract_Two year                             0
PaymentMethod_Bank transfer (automatic)       0
PaymentMethod_Credit card (automatic)         0
PaymentMethod_Electronic check                0
PaymentMethod_Mailed check                    0
TotalServices                                 0
dtype: int64

##### Train_test_split

In [68]:
# Assigning in the training data
X_train = merged_df.drop('Churn', axis=1)
y_train = merged_df['Churn']

In [69]:
# Assigning in the test set
X_test = merged_df.drop('Churn', axis=1)
y_test = merged_df['Churn']

In [70]:
# Assuming X_train and y_train are your provided training features and labels
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [71]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape,

((5634, 55), (5634,), (1409, 55), (1409,))

### Building models

In [72]:
# modelling libraries

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

This being a classification analysis, we create the following models;
1. Logistic Regression
2. Decision Tree
3. Random Forest
4. Support Vector Machine

In [75]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#### 1. Logistic Regression

In [76]:
# Train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
# Evaluate the model using the training data
y_train_pred = logreg.predict(X_train)
accuracy = accuracy_score(y_train, y_train_pred)
precision = precision_score(y_train, y_train_pred, pos_label='Yes')
recall = recall_score(y_train, y_train_pred, pos_label='Yes')
f1 = f1_score(y_train, y_train_pred, pos_label='Yes')

In [ ]:
#
print(f"Training Accuracy: {accuracy}")
print(f"Training Precision: {precision}")
print(f"Training Recall: {recall}")
print(f"Training F1 Score: {f1}")

In [ ]:
# Make predictions on the test set
y_test_pred = logreg.predict(X_test)

In [ ]:
# Display the predictions (for example purposes)
print("Test set predictions:")
print(y_test_pred)